<mat-list>
    <h3 mat-subheader>{{ marker.name }} </h3>
    <!-- <mat-list-item>
        <p mat-line>Description: {{ marker.description }}</p>
    </mat-list-item> -->
    <p>Description:</p>
    <p> {{ marker.description }} </p>
    <mat-list-item><p mat-line>Hint: <span *ngIf="showHint">{{ marker.hint }} </span><span *ngIf="!showHint" (click)="showHint=true"><i>-Tap to show-</i></span></p></mat-list-item>
    <mat-list-item><p mat-line>Size: {{ marker.size }} </p></mat-list-item>
    <mat-list-item><p mat-line>Placed: {{ marker.placed }} </p></mat-list-item>
    <mat-list-item><p mat-line>Last activity: {{ marker.activity }} </p></mat-list-item>
    <mat-divider></mat-divider>
    <p>Difficulty: </p>
    <mat-progress-bar class="my-progress-bar" color="primary" mode="determinate" 
        [value]="marker.difficulty">
    </mat-progress-bar>
    <mat-divider></mat-divider>
    <br/>
</mat-list>
