<agm-map 
  [latitude]="startingLat" 
  [longitude]="startingLong" 
  [mapTypeId]="mapType" 
  [zoom]="zoom"
  (mapClick)="addMarker($event.coords.lat, $event.coords.lng)"
>
  <!-- <agm-marker [latitude]="lat" [longitude]="longitude"></agm-marker> -->
  <agm-marker *ngFor="let marker of markers" 
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    [markerDraggable]="false"
    (markerClick)="setSelectedMarker($event)"

  >
    <!-- <agm-info-window>Hello world</agm-info-window> -->
  </agm-marker>
  <agm-marker id="current-position"
    [latitude]="currentPosition.lat"
    [longitude]="currentPosition.lng"
    iconUrl="../../assets/icons/location_dot_blue20x20.png"
  ></agm-marker>
</agm-map>
<p *ngIf="selectedMarker">Currently selected marker: Lat: {{ selectedMarker.lat }}, Long: {{ selectedMarker.lng }} </p>
<p>All markers: {{ markers | json }}</p>
<p>Current position: {{ currentPosition | json }}</p>